// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

$link-color: lighten(#de4f96, 5%);
$accent-color: $link-color;
$icon-color: $link-color;

$sp-11: 5rem;
$sp-12: 6rem;
$sp-13: 7rem;
$sp-14: 8rem;
$sp-15: 9rem;
$sp-16: 10rem;

@import 'dna';

:root {
  --nav-width: 180px;
}

body {
  font-family: "XCharter", "Charter", Georgia, serif;
}

a {
  color: $link-color;
  // text-decoration-color: lighten($link-color, 10%) !important;

  &:hover,
  &:focus {
    // color: lighten($link-color, 6%);
    text-decoration-color: lighten(#de4f96, 20%) !important;
  }
}

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}

.label-purple:not(g) {
  background-color: #f467ae;
}

.icon,
.main-content .anchor-heading svg,
.nav-list .nav-list-item .nav-list-expander,
.search-label .search-icon,
.search-input:focus + .search-label .search-icon,
.search-result-doc .search-result-icon {
  color: $icon-color !important;
}

.main {
  @include mq(md) {
    max-width: 70rem;
  }
}

.site-nav a {
  color: inherit !important;
}

.site-title {
  display: inline-flex;
  align-items: center;
  gap: $sp-2;

  &::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../images/eecs.png") center center / contain no-repeat;
  }
}

.aux-nav,
.aux-nav-list,
.aux-nav-list-item {
  overflow: visible !important;
}

.aux-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $sp-2;
  position: relative;
}

.aux-icon-img {
  height: 28px;
  width: auto;
  display: block;
}

.about-hero {
  display: flex;
  justify-content: center;
  margin: $sp-6 0;
}

.about-hero img {
  max-width: min(600px, 100%);
  width: 100%;
  height: auto;
  border-radius: $border-radius;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.main-content-wrap {
  padding-left: $sp-3;
  padding-right: $sp-15;

  @include mq(md) {
    padding-left: $sp-5;
    padding-right: $sp-16;
  }

  @include mq(lg) {
    padding-left: $sp-6;
    padding-right: $sp-16;
  }
}

@include mq(md) {
  .side-bar {
    width: 13rem !important;
    min-width: 13rem !important;
  }

  .side-bar + .main {
    margin-left: 13rem !important;
  }

  .site-nav,
  .site-header,
  .site-footer {
    width: 13rem !important;
  }
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: calc((100% - 70rem) / 2 + 13rem) !important;
    min-width: 13rem !important;
  }

  .side-bar + .main {
    margin-left: Max(13rem, calc((100% - 70rem) / 2 + 13rem)) !important;
  }

  .site-nav,
  .site-header,
  .site-footer {
    width: 13rem !important;
  }
}

.theme-toggle-wrap {
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $sp-2 $sp-3;
  // background: #fff;
  // border: none;
  border-radius: $border-radius;
  box-shadow: 0 4px 14px rgba(10, 10, 10, 0.25);

  // &:hover,
  // &:focus,
  // &:active {
  //   background: transparent;
  //   box-shadow: none;
  //   outline: none;
  // }
}

.theme-toggle-icon {
  color: $link-color;
  font-size: 1.3rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle-wrap {
  position: fixed;
  bottom: $sp-4;
  right: $sp-4;
  z-index: 1000;
}
