<section class="dna-hero" aria-hidden="true">
  <div class="dna-hero__inner">
    <div class="dna-hero__label">6.8710</div>
    <div id="dna">
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
    </div>
  </div>
</section>
